@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <h2 style="color: lightgray">Preview</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Title</label>
        <input id="Title" type="text" /> <br />
        <label>Author</label>
        <input id="Author" type="text" />
    </div>  
    <div id="Canvas" class="col-md-8">        
        <div id="Document">
            <h1 class="booktitle">The Big Title Page</h1>
            <img  class="bookimage" src="" alt="The Image" />
            <h2 class="bookauthor" >John Smith</h2>
        </div> />
    </div>
</div>
